* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;;
}

/* Global Tag */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

a {
    text-decoration: none;
}
span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/**** Navigation ****/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 6px 26px rgba(17, 17, 17, 0.15);
    padding: 6px 150px;
    position: fixed;
    width: 100%;
    background-color: #FBFBFB;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    color: rgb(21, 21, 100);
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: rgb(255, 0, 212);
    

}

/*** Home Page ***/
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("assets/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#home h2 {
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 15px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 1.1rem;
    line-height: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 5px;
}

#home a {
    font-size: 0. 9rem;
    padding: 12px 32px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 4px;
}

#home .btn {
    margin-top: 35px;
}

#home a.one {
    color: #fff;
    background: rgb(123, 83, 233);
    transition: 0.3s ease;
    margin-right: 10px;
}

#home a.one:hover {
    background: rgb(245, 46, 169);
}

#home a.two {
    color: #fff;
    background: #f8bd1c;
    transition: 0.3s ease;
    margin-left: 10px;
}

#home a.two:hover {
    background: #62da12;
}

/****Home: Features ****/
#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

#features .box {
    background-color: rgb(221, 211, 247);
    color: rgb(44, 44, 80);
    text-align: start;
    padding: 15px 15px;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.2);
}


#features .area .one:hover {
    background-color: rgb(123, 83, 233);
    color: rgb(245, 245, 245);
}

#features .area .two:hover {
    background-color: rgb(123, 83, 233);
    color: rgb(245, 245, 245);
}

#features .area .three:hover {
    background-color: rgb(123, 83, 233);
    color: rgb(245, 245, 245);
}

#features .box i {
    font-size: 2.3rem;
}

#features .box i:hover {
    color: rgb(189, 195, 252);
}

#features .box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 13px 0 7px 0;
}

#features .box p {
    font-size: 1rem;
    font-weight: 400;
}

