* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    cursor: url(assets/cursor2.png), auto;
}

/* Global Tag */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

a {
    text-decoration: none;
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/**** Navigation ****/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 6px 26px rgba(17, 17, 17, 0.15);
    padding: 6px 130px;
    margin-top: -1px;
    position: fixed;
    width: 100%;
    background-color: #FBFBFB;
    z-index: 9;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

#menu-btn {
    width: 27px;
    width: 27px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    color: rgb(21, 21, 100);
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: rgb(255, 0, 212);
}

/*** Home Page ***/
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("assets/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#home h2 {
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 15px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 1.1rem;
    line-height: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 5px;
}

#home a {
    font-size: 0. 9rem;
    padding: 12px 32px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 4px;
}

#home .btn {
    margin-top: 35px;
    
}

#home a.one {
    color: #fff;
    background: rgb(123, 83, 233);
    transition: 0.3s ease;
    margin-right: 10px;
}

#home a.one:hover {
    background: rgb(245, 46, 169);
}

#home a.two {
    color: #fff;
    background: #f8bd1c;
    transition: 0.3s ease;
    margin-left: 10px;
}

#home a.two:hover {
    background: #62da12;
}

/****Home: Features ****/
#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.7rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

#features .box {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 80);
    text-align: start;
    padding: 15px 15px;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 4px 13px 30px 10px rgba(17, 17, 17, 0.15);
    border-left: 4px solid blueviolet;
    
}


#features .area .one:hover {
    background-color: rgb(123, 83, 233);
    color: rgb(245, 245, 245);
    border-left: 4px solid #f3d944;
}

#features .area .two:hover {
    background-color: rgb(123, 83, 233);
    color: rgb(245, 245, 245);
    border-left: 4px solid #ff0162;
}

#features .area .three:hover {
    background-color: rgb(123, 83, 233);
    color: rgb(245, 245, 245);
    border-left: 20px solid #4AFF01;
}

#features .box i {
    font-size: 2.3rem;
}

#features .box i:hover {
    color: rgb(189, 195, 252);
}

#features .box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 13px 0 7px 0;
}

#features .box p {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 15px;
}

/**** Course Area ****/
#courses-section {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    padding-bottom: 80px;
}

#courses-section .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.7rem;
    margin-top: 40px;
    margin-bottom: 20px;
    
    
}

#courses-section .course {
    text-align: start;
    box-shadow: 2px 4px 30px 5px rgb(214, 214, 214);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
#courses-section .course img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#courses-section .course .details {
    padding: 13px 13px 0 13px;
}

#courses-section .course .details i {
    color: #FDC92D;
    font-size: .9rem;
}

#courses-section .course .price {
    background-color: #08147e;
    color: white;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 80px;
}

/*** Registration Section ***/
#register {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url("assets/signup.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#register .text {
    color: white;
}

#register .text .time {
    display: flex;
    margin-top: 40px;
}

#register .text .time .date {
    text-align: center;
    padding: 10px 28px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 20px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 18px;
    font-weight: 600;
}

#register .form {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 25px 25px;
    box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
}

#register .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}

#register .form a {
    padding: 10px 15px;
    background: #08147e;
    color: white;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

#register .form a:hover {
    background: #f8bd1c;
    
}

#register .form .btn {
    padding-top: 12px;
    padding-bottom: 5px;
    margin-left: 58px;
}

/*** Profile Section ***/
#profile-area {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;

}

#profile-area .expert-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.7rem;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

#profile-area .expert-box .profile {
    background-color: #e7e9f8;
    padding: 20px 10px;
    border-radius: 4px;
    transition: .3s ease;
}

#profile-area .expert-box .profile:hover {
    background-color: #fac6ea;
}

#profile-area .expert-box .profile .social-link {
    margin-top: 10px;
}

#profile-area .expert-box .profile i {
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: .3s ease;
}

#profile-area .expert-box .profile i:hover {
    background-color: rgb(4, 4, 102);
    color: white;
}

 /*** Footer Section ***/
footer {
    padding: 7vw 7vw 3vw 7vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 60px;
}

footer h3 {
    color: rgb(241, 236, 255);
    padding-bottom: 15px;
    font-weight: 600;
}

footer li {
    list-style: none;
    color: #8895ad;
    padding: 7px 0;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease;
}

footer p {
    color: #bfffec;
}

footer li:hover {
    color: #fa107d;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #8895ad;
    color: #FBFBFB;
    border: none;
    outline: none;
    border-radius: 2px;
}

footer .subscribe a {
    color: #FBFBFB;
    background: #f3bf25;
    transition: .3s ease;
    padding: 10.5px 14px;
    font-weight: 600;
    border-radius: 2px;
}

footer .subscribe a:hover {
    background: rgb(247, 24, 72);
}

footer ::placeholder {
    color: rgb(223, 223, 223);
}

footer .copyright {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}


footer .copyright i {
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: .3s ease;
    background: whitesmoke;
    border-radius: 10%;
    font-size: 20px;
}

footer .copyright i:hover {
    color: whitesmoke;
    background: rgb(247, 24, 72);

}


/*** Home Page Responsive Code ***/
@media (max-width: 769px) {
    nav {
        padding: 8px 63px;
    }
    nav img {
        width: 130px;
        cursor: pointer;
    }
    #menu-btn {
        display: initial;
    }
    
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: ivory;
        padding: 30px 0 20px 20px;
    }
    
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(10px);
        border: 1px solid rgb(255, 255, 255, 0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: .5s ease;
    }

    nav .navigation ul.active {
        right: 0;
    }

    nav .navigation ul li {
        padding: 0 0 20px 40px;
        margin-left: 0;
        margin-top: 20px;
    }

    nav .navigation ul li a {
        color: white;
        font-size: 20px;
    }

    nav .navigation ul li a:hover{
        column-rule: #4c5efa;
    }

    /* Home Page */
    #home {
        height: 70vh;
    }

    #home h2 {
        font-size: 2.1rem;
        text-align: center;
    }
    #home p {
        width: 80%;
    }
    #home {
        padding-bottom: 0;
    }

    #features {
        padding: 5vw 4vw 0 4vw;
    }

    #courses-section {
        padding: 8vw 4vw 5vw 4vw;
    }

    #register {
        padding: 6vw 4vw 6vw 4vw;
    }

    #register .text .time {
        display: flex;
        flex-wrap: wrap;
    }

    #register .form {
        margin-right: 15px;
    }

    #register .form .btn {
        
        margin-left: 40px;
    }
}

/*** Mobile Phone Responsive ***/
@media (max-width: 475px) {

    nav {
        padding: 8px 50px;
    }

    #home {
        height: 80vh;
    }

    #home h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    #home p {
        font-size: .9rem;
    }

    #home a {
        padding: 8px 23px;
    }

    #features h1 {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 20px;
    }

    #features p {
        font-size: 15px;
    }

    #courses-section h1 {
        font-size: 2rem;
        font-weight: 700;
    }
     
    #register {
        padding: 6vw 4vw 15vw 4vw;
    }

    #register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #register .text h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    #profile-area h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
        padding-top: 40px;
    }

    #register {
        margin-top: 40px;
    }

    #register .form .btn {
        margin-left: 60px;
    }

    #register .text .time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px; 
    }

    footer .copyright .social-link {
        display: none;
    }

    footer .copyright p {
        padding-bottom: 10px;
    }
}
/***Finally, our Home Page Done ***/
